<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Docume3nt</title>

   <link rel="stylesheet" href="css/normalaze.css">
   <link rel="stylesheet" href="css/style.min.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Lexend+Deca:wght@100;200;300&display=swap"
      rel="stylesheet">
</head>

<body id="app">
   <header class="header">
      <a href="" class="header__logo"> <img src="" alt="">
         Роспись
      </a>
      <nav class="header__nav">
         <div class="header__nav_calendar">
            <img src="icons/image 4.svg" alt="" class="header__nav_calendar_logo">
            <div class="header__nav_calendar_title">Учебный календарь</div>
         </div>
         <div class="header__nav_designer">
            <img src="icons/image 1.svg" alt="" class="header__nav_designer_logo"></img>
            <div class="header__nav_designer_title">Режим редактирования</div>
         </div>
         <div class="header__nav_theme-switch">
            <button class="header__nav_theme-switch_button">
               <div class="header__nav_theme-switch_button_selector"></div>
            </button>
         </div>
      </nav>
   </header>

   <div class="wrapper">
      <div class="timetable">
         <div class="timetable__date">
            <button class="timetable__date_leftBTN" @click="getdayOfWeek">
               <img src="/icons/swich_btn.svg" alt="a">
            </button>
            <div class="timetable__date_scoreboard">
               <div class="timetable__date_scoreboard_day-of-week">{{dayOfWeek}}</div>
               <div class="timetable__date_scoreboard_number">{{dateToday}}</div>
            </div>

            <button class="timetable__date_rightBTN">
               <img src="/icons/swich_btn.svg" alt="a">
            </button>
         </div>
         <div class="timetable__lessons">
            <div class="timetable__lessons_number">
               <div class="timetable__lessons_number_slot " v-for="(time, i) in lessons">{{i+1}}</div>

            </div>
            <div class="timetable__lessons_time">
               <div class="timetable__lessons_time_slot" v-for="(time, i) in lessons">{{time.timeStart}}</div>

            </div>
            <div class="timetable__lessons_wrapper">
               <div class="lesson" id="qqq" v-for="(time, i) in lessons">
                  <div class="lesson__cabinet">{{time.classroom}}</div>
                  <div class="lesson__thing">{{time.lessonName}}</div>
                  <div class="lesson__add-information">
                     <div class="lesson__add-information_teacher">{{time.teacher}}</div>
                     <div class="lesson__add-information_type">{{time.lessonType}}</div>
                  </div>

               </div>

            </div>
         </div>

         <div class="calendar" id="app">
            <div class="calendar__date">
               <div class="date-day">ПН</div>
               <div class="date-day">ВТ</div>
               <div class="date-day">СР</div>
               <div class="date-day">ЧТ</div>
               <div class="date-day">ПТ</div>
               <div class="date-day red">СБ</div>
               <div class="date-day red">ВС</div>
            </div>
            <div class="calendar__date_namber-box">
               <div class="calendar__date_namber-box_wrapper " v-on:click="elemPLUS">

                  <div class="date-namber" v-for="elem in 35">{{elem}}</div>

               </div>
               <div class="lesson-type">
                  <div class="lesson-type__lecture">
                     <div class="lesson-type__lecture_color"></div>
                     <div class="lesson-type__lecture_name"> - ЛЕКЦИЯ</div>
                  </div>
                  <div class="lesson-type__exam">
                     <div class="lesson-type__exam_color"></div>
                     <div class="lesson-type__exam_name">- ЭКЗАМЕН</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <script src="https://unpkg.com/vue@next"></script>
   <script src="js/script.js"></script>
</body>

</html>