@media (max-width: 1100px) {
   .header {
      &__nav {
         justify-content: flex-end;
      }

      &__logo {
         margin-left: 20px;
         &::after {
            left: 120px;
         }
      }
   }
}

@media (max-width: 1000px) {
   .wrapper {
      max-width: 920px;
   }
}

@media (max-width: 500px) {
   .wrapper {
      max-width: 95%;
   }
   .header {
      font-size: 15px;
      &__logo {
         margin-left: 8px;
         padding-top: 15px;
         font-size: 22px;
         &::after {
            left: 80px;
         }
      }
      &__nav {
         &_donat {
            margin-right: 8px;
            &::before {
               background-size: cover;
               width: 27px;
               height: 27px;
            }
            height: 55px;
         }
         &_files {
            margin-right: 8px;
            height: 55px;
            &::before {
               background-size: cover;
               width: 27px;
               height: 27px;
            }
         }
         width: 150px;
         &_calendar-switch {
            display: none;
         }
         &_theme-switch {
            display: none;
         }
      }
   }
   .timetable {
      margin-top: 60px;
      width: 100%;
      &__lessons {
         margin-top: 45px;
         &_number {
            display: none;
         }
         &_time {
            width: 120px;
            &_slot {
               margin: 18px 1px 33px 1px;
               font-size: 13px;
            }
         }
      }
      &__date {
         font-size: 36px;
         width: 100%;
         &_leftBTN {
            width: 53px;
            height: 58px;
         }
         &_rightBTN {
            width: 53px;
            height: 58px;
         }
      }
   }
   .calendar {
      width: 360px;
      &__date {
         &_namber-box {
            min-height: 339px;
         }
      }
   }
   .date-day {
      font-size: 20px;
   }
   .date-namber {
      display: flex;
      margin: 10px 8px 0 7px;
      width: 35px;
      height: 35px;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 6px;
      font-family: Lexend Deca;
      font-style: normal;
      font-size: 20px;
      line-height: 45px;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
   }
   .lesson {
      width: 296px;
      height: 91px;
      &__cabinet {
         width: 140px;
         font-size: 15px;
      }
      &__thing {
         line-height: 15px;
         font-size: 15px;
      }
      &__add-information {
         width: 100px;
      }
      &__add-information_teacher {
         font-size: 8px;
         width: 100%;
      }
      &__add-information_type {
         font-size: 13px;
      }
   }
   .lesson__add-information {
      width: 200px;
   }
}
